//- RD Navbar Sidebar Toggle
//- navbar - object of Navbar

mixin rd-navbar-sidebar-toggle(navbar)
  // RD Navbar Transparent
  .rd-navbar-wrap
    nav&attributes(navbar.attr).rd-navbar(class="#{navbar.style}")
      .rd-navbar-inner
        // RD Navbar Panel
        .rd-navbar-panel
          // RD Navbar Toggle
          button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar, .rd-navbar-nav-wrap')
            span
        .rd-navbar-menu-wrap
          .rd-navbar-nav-wrap
            .rd-navbar-mobile-scroll-holder
              .rd-navbar-mobile-scroll
                // Navbar Brand Mobile
                .rd-navbar-mobile-brand
                  a(href= cfg.nav.home.href)
                    !{navbar.img}
                .form-search-wrap
                  // RD Search Form
                  form.form-search.rd-search(action='search-results.html', method='GET')
                    .form-group
                      label.form-label.form-search-label.rd-input-label(for='rd-navbar-form-search-widget') Search
                      input#rd-navbar-form-search-widget.form-search-input.form-control.form-control-gray-lightest(type='text', name='s', autocomplete='off')
                    button.form-search-submit(type='submit')
                      span.fa.fa-search
                // RD Navbar Nav
                ul.rd-navbar-nav
                  li(class=(navbar.active == 1 ? 'active' : ''))
                    a(href= cfg.nav.home.href)= cfg.nav.home.title
                  li(class=(navbar.active == 2 ? 'active' : ''))
                    a(href= cfg.nav.about.href)= cfg.nav.about.title
                  li(class=(navbar.active == 3 ? 'active' : '')).rd-navbar--has-dropdown.rd-navbar-submenu
                    a(href= cfg.nav.countries.href)= cfg.nav.countries.title
                    ul.rd-navbar-dropdown
                      li
                        a(href= cfg.nav.countries.submenu.germany.href)= cfg.nav.countries.submenu.germany.title
                      li
                        a(href= cfg.nav.countries.submenu.italy.href)= cfg.nav.countries.submenu.italy.title
                      li
                        a(href= cfg.nav.countries.submenu.spain.href)= cfg.nav.countries.submenu.spain.title
                      li
                        a(href= cfg.nav.countries.submenu.france.href)= cfg.nav.countries.submenu.france.title
                      li
                        a(href= cfg.nav.countries.submenu.thailand.href)= cfg.nav.countries.submenu.thailand.title
                  li(class=(navbar.active == 4 ? 'active' : ''))
                    a(href= cfg.nav.guides.href)= cfg.nav.guides.title
                  li(class=(navbar.active == 5 ? 'active' : '')).rd-navbar--has-dropdown.rd-navbar-submenu
                    a(href= cfg.nav.tipsAndTricks.href)= cfg.nav.tipsAndTricks.title
                    ul.rd-navbar-dropdown
                      li
                        a(href= cfg.nav.tipsAndTricks.submenu.blogClassic.href)= cfg.nav.tipsAndTricks.submenu.blogClassic.title
                      li
                        a(href= cfg.nav.tipsAndTricks.submenu.blogGrid.href)= cfg.nav.tipsAndTricks.submenu.blogGrid.title
                      li
                        a(href= cfg.nav.tipsAndTricks.submenu.blogMasonry.href)= cfg.nav.tipsAndTricks.submenu.blogMasonry.title
                      li
                        a(href= cfg.nav.tipsAndTricks.submenu.blogModern.href)= cfg.nav.tipsAndTricks.submenu.blogModern.title
                      li
                        a(href= cfg.nav.tipsAndTricks.submenu.singlePost.href)= cfg.nav.tipsAndTricks.submenu.singlePost.title
                  li(class=(navbar.active == 6 ? 'active' : ''))
                    a(href= cfg.nav.deals.href)= cfg.nav.deals.title
                  li(class=(navbar.active == 7 ? 'active' : '')).rd-navbar--has-megamenu.rd-navbar-submenu
                    a(href= cfg.nav.pages.href)= cfg.nav.pages.title
                    .rd-navbar-megamenu
                      ul.offset-md-top-5
                        li
                          a(href= cfg.nav.pages.submenu["404"].href)= cfg.nav.pages.submenu["404"].title
                        li
                          a(href= cfg.nav.pages.submenu["503"].href)= cfg.nav.pages.submenu["503"].title
                        li
                          a(href= cfg.nav.pages.submenu.underConstruction.href)= cfg.nav.pages.submenu.underConstruction.title
                        li
                          a(href= cfg.nav.pages.submenu.serchResults.href)= cfg.nav.pages.submenu.serchResults.title
                        li
                          a(href= cfg.nav.pages.submenu.siteMap.href)= cfg.nav.pages.submenu.siteMap.title
                        li
                          a(href= cfg.nav.pages.submenu.termsOfUse.href)= cfg.nav.pages.submenu.termsOfUse.title
                        li
                          a(href= cfg.nav.pages.submenu.faq.href)= cfg.nav.pages.submenu.faq.title
                        li
                          a(href= cfg.nav.pages.submenu.testimonials.href)= cfg.nav.pages.submenu.testimonials.title
                      ul.offset-md-top-5
                        li
                          a(href= cfg.nav.pages.submenu.careers.href)= cfg.nav.pages.submenu.careers.title
                        li
                          a(href= cfg.nav.pages.submenu.services.href)= cfg.nav.pages.submenu.services.title
                        li
                          a(href= cfg.nav.pages.submenu.singleService.href)= cfg.nav.pages.submenu.singleService.title
                        li
                          a(href= cfg.nav.pages.submenu.ourTeam.href)= cfg.nav.pages.submenu.ourTeam.title
                        li
                          a(href=cfg.nav.pages.submenu.teamMemberPage.href)= cfg.nav.pages.submenu.teamMemberPage.title
                        li
                          a(href= cfg.nav.pages.submenu.countryPage.href)= cfg.nav.pages.submenu.countryPage.title
                        li
                          a(href= cfg.nav.pages.submenu.guidePage.href)= cfg.nav.pages.submenu.guidePage.title
                        li
                          a(href= cfg.nav.pages.submenu.singleDeal.href)= cfg.nav.pages.submenu.singleDeal.title
                      ul.offset-md-top-5
                        li
                          a(href= cfg.nav.pages.submenu.typography.href)= cfg.nav.pages.submenu.typography.title
                        li
                          a(href= cfg.nav.pages.submenu.buttons.href)= cfg.nav.pages.submenu.buttons.title
                        li
                          a(href= cfg.nav.pages.submenu.forms.href)= cfg.nav.pages.submenu.forms.title
                        li
                          a(href= cfg.nav.pages.submenu.tables.href)= cfg.nav.pages.submenu.tables.title
                        li
                          a(href= cfg.nav.pages.submenu.tabsAccordions.href)= cfg.nav.pages.submenu.tabsAccordions.title
                        li
                          a(href= cfg.nav.pages.submenu.progressBar.href)= cfg.nav.pages.submenu.progressBar.title
                        li
                          a(href= cfg.nav.pages.submenu.icons.href)= cfg.nav.pages.submenu.icons.title
                        li
                          a(href= cfg.nav.pages.submenu.grid.href)= cfg.nav.pages.submenu.grid.title
                      ul.offset-md-top-5
                        li
                          a(href= cfg.nav.pages.submenu.headerCorporate.href)= cfg.nav.pages.submenu.headerCorporate.title
                        li
                          a(href= cfg.nav.pages.submenu.headerCentreFooterCentreDark.href)= cfg.nav.pages.submenu.headerCentreFooterCentreDark.title
                        li
                          a(href= cfg.nav.pages.submenu.headerMinimalFooterMinimalDark.href)= cfg.nav.pages.submenu.headerMinimalFooterMinimalDark.title
                        li
                          a(href= cfg.nav.pages.submenu.headerTransparentFooterCentreLight.href)= cfg.nav.pages.submenu.headerTransparentFooterCentreLight.title
                        li
                          a(href= cfg.nav.pages.submenu.headerHamburgerMenu.href)= cfg.nav.pages.submenu.headerHamburgerMenu.title
                        li
                          a(href= cfg.nav.pages.submenu.footerWidgetDark.href)= cfg.nav.pages.submenu.footerWidgetDark.title
                        li
                          a(href= cfg.nav.pages.submenu.footerWidgetLight.href)= cfg.nav.pages.submenu.footerWidgetLight.title
                        li
                          a(href= cfg.nav.pages.submenu.footerMinimalLight.href)= cfg.nav.pages.submenu.footerMinimalLight.title
                  li(class=(navbar.active == 8 ? 'active' : '')).rd-navbar--has-dropdown.rd-navbar-submenu
                    a(href= cfg.nav.gallery.href)= cfg.nav.gallery.title
                    ul.rd-navbar-dropdown
                      li
                        a(href= cfg.nav.gallery.submenu.galleryGrid.href)= cfg.nav.gallery.submenu.galleryGrid.title
                      li
                        a(href= cfg.nav.gallery.submenu.gridWithoutPaddingGallery.href)= cfg.nav.gallery.submenu.gridWithoutPaddingGallery.title
                      li
                        a(href= cfg.nav.gallery.submenu.galleryMasonry.href)= cfg.nav.gallery.submenu.galleryMasonry.title
                      li
                        a(href= cfg.nav.gallery.submenu.galleryCobbles.href)= cfg.nav.gallery.submenu.galleryCobbles.title
                  li(class=(navbar.active == 9 ? 'active' : ''))
                    a(href= cfg.nav.contacts.href)= cfg.nav.contacts.title