//- quote, owl - object of Blockquote

mixin quote-classic(owl, quote)
  // Owl Carousel
  .owl-carousel.owl-carousel-classic(data-items= owl.items data-sm-items= owl.smItems data-md-items= owl.mdItems data-nav= owl.nav data-dots= owl.dots data-sm-stage-padding= owl.smStagePadding data-xl-stage-padding= owl.xlStagePadding data-margin= owl.margin data-md-margin= owl.mdMargin data-lg-margin= owl.lgMargin)
    each i in quote
      div
        // Blockquote
        blockquote.quote.quote-classic.section-md-top-30.section-lg-top-0
          .unit.unit-middle.unit-horizontal.unit-spacing-xs
            .unit-left
              img.img-responsive.img-circle.center-block(src=i.img.src width=i.img.width height=i.img.height alt=i.img.alt)
            .unit-body
              h6.quote-author
                a(href= i.autor.href)= i.autor.title
              p.quote-desc= i.autor.desc
          p.h5.font-default.text-bold.text-italic.offset-top-18
            q= i.q.title