//- post, postList, tagsList, media - objects of Post Modern

include ../elements/_ui-thumbnail-classic
include ../elements/_ui-carousel-gallery-classic
include ../elements/_ui-video-embed
include ../elements/_ui-soundcloud-player-classic

mixin post-modern-simple(post, postList, tagsList, media)
  article.post.post-modern.post-modern-classic.post-modern-simple
    // Post media
    if media
      header.post-media
        case media.type
          when "gallery"
            +carousel-gallery-classic(media.images)
          when "soundcloud"
            .post-inset
              +soundcloud-player-classic(media)
          when "video"
            +video-embed(media)
          when "thumbnail"
            div(data-photo-swipe="gallery")
              +thumbnail-classic(media)
          default
            = ""

    // Post content
    section.post-content.text-left(class= post.content.offsets)
      .post-modern-classic-meta
        a(href= post.meta.href)
          span(class= post.meta.icon)
          span.text-middle.text-darker(class= post.metaTitle.style)= post.metaTitle.title

      // Post Title
      .post-title(class= post.title.offsets)
        h4.text-bold
          a(href=post.title.href)= post.title.titleDesc

      ul.group-lg.list.list-inline.text-darker.offset-top-20
        each i, index in postList
          if postList[parseInt(index) - 1]
            li
              a(href= i.listHref class= i.listClass)= i.listTitle
          else
            li(class= i.listClass)= i.listTitle

      // Post Body
      .post-body.offset-top-20
        block


        .tags.group.group-sm(class= post.tags.style)
          each btn in tagsList
            a.btn-tag(href= btn.href class= btn.style)= btn.title