//- thumbnail - {thumbnail} object
mixin thumbnail-rayen(thumbnail, iconAttr, title, thumbnailStyle)
  -var photoswipe = (typeof(thumbnail.target.href) !== 'undefined') ? {"href": thumbnail.target.href} : {"data-photo-swipe-item": "", "data-size": ""+thumbnail.target.width+"x"+thumbnail.target.height, "href": thumbnail.target.src}
  // Thumbnail Rayen
  a.thumbnail-rayen&attributes(photoswipe)(class= thumbnailStyle)
    span.figure
      img(width=thumbnail.thumb.width, height=thumbnail.thumb.height, src=thumbnail.thumb.src, alt=thumbnail.thumb.alt)
      span.figcaption
        span.icon(class=iconAttr)
        span.thumbnail-rayen-title.reveal-block(class= title.style)= title.desc