//- Post Modern
//- url - expanded post link
//- date - date of publishment
//- title - post title
//- tags - array of {link}
//- image - {image} object

include ../elements/_ui-thumbnail-classic
include ../elements/_ui-carousel-gallery-classic
include ../elements/_ui-video-embed
include ../elements/_ui-soundcloud-player-classic

mixin post-modern(url, desc, title, hotel, stars, btn, media, svgIcon, svgIconArray, bodyOffset)
  // Post Modern
  article.post.post-modern
    // Post media
    if media
      header.post-media
        case media.type
          when "gallery"
            +carousel-gallery-classic(media.images)
          when "soundcloud"
            .post-inset
              +soundcloud-player-classic(media)
          when "video"
            +video-embed(media)
          when "thumbnail"
            .post-media-svg-wrap
              .post-media-svg
                svg(viewbox='0 0 158 40')
                  path(class= media.svgStyle d='m 0.02445349,34.255001 c 0.02068,-5.493601 0.165505,-5.816887 3.24790201,-7.25 6.206172,-2.885465 6.206172,-11.114534 0,-13.999999 C 0.18995849,11.571888 0.04513149,11.248604 0.02445349,5.7550013 l -0.02164,-5.74999995 78.99999551,0 78.999991,0 0,19.99999965 0,20 -78.999991,0 -78.99999551,0 0.02164,-5.75 z')
                .post-media-svg-body
                  .post-media-price.reveal-inline-block.text-middle
                    sup.text-bold.text-white $
                    span.h6(class= media.priceStyle)= media.priceTitle
                  - if (svgIcon.svgIconArr === "true")
                    .post-media-group-icons
                      each iconSvg in svgIconArray
                        span.icon.text-middle(class= iconSvg.iconStyle)
                  - else
                    span.icon.text-middle(class= media.iconStyle)
            img.img-responsive.img-cover(width=media.thumb.width, height=media.thumb.height, src=media.thumb.src, alt=media.thumb.alt)
          default
            = ""

    // Post content
    section.post-content.text-left
      .post-content-header
        div
          .post-meta.p.text-gray
            a(href= desc.descHref)= desc.descTitle

        // Post Title
        .post-title.offset-top-8
          h4.text-bold
            a(href=url)= title

      .post-content-desc
        .post-content-desc-title.reveal-inline-block.offset-top-20.text-middle
          .unit(class= hotel.hotelUnit)
            .unit-left
              span(class= hotel.hotelIcon)
            .unit-body
              p.text-bold.text-darker= hotel.hotelTitle
            .unit-right
              - if (stars.stars === null)
                div.veil
              - else
                .post-content-stars.reveal-inline-block.text-middle
                  each star in stars
                    span(class= star.starIcon)

      // Post Body
      .post-body(class= bodyOffset)
        block

        .group.group-lg.post-body-buttons.text-center
          a(href= btn.btnFirHref class= btn.btnFirStyle)= btn.btnFirTitle
          a(href= btn.btnSecHref class= btn.btnSecStyle)= btn.btnSecTitle