//- thumbnail - {thumbnail} object
mixin thumbnail-terry(options)
  -var photoswipe = (typeof(options.target.href) !== 'undefined') ? {"href": options.target.href} : {"data-photo-swipe-item": "", "data-size": ""+options.target.width+"x"+options.target.height, "href": options.target.src}

  // Thumbnail Terry
  .thumbnail-terry
    a&attributes(photoswipe)
      span.figure(class= options.thumbnailStyle)
        img(width=options.thumb.width, height=options.thumb.height, src=options.thumb.src, alt=options.thumb.alt)
      span.figcaption
        span.reveal-block
          span.thumbnail-terry-title(class= options.titleStyle)= options.title
        span.thumbnail-terry-desc(class= options.descStyle)= options.description