//- Post Modern Timeline
//- aClass - additional class
//- postTitle, postMeta, postList, media - objects of Post Modern Timeline

include ../elements/_ui-thumbnail-classic
include ../elements/_ui-carousel-gallery-classic
include ../elements/_ui-video-embed
include ../elements/_ui-soundcloud-player-classic
include ../elements/_ui-rd-video-player

mixin post-modern-timeline(aClass, postTitle, postMeta, postList, author, media)
  // Post Modern Timeline
  article.post.post-modern.post-modern-timeline(class=aClass)
    // Post media
    if media
      header.post-media
        case media.type
          when "gallery"
            +carousel-gallery-classic(media.images)
          when "soundcloud"
            .post-inset
              +soundcloud-player-classic(media)
          when "video"
            +video-embed(media)
          when "rd-video-player"
            +rd-video-player(media)
          when "thumbnail"
            img.img-responsive.img-cover(width=media.thumb.width, height=media.thumb.height, src=media.thumb.src, alt=media.thumb.alt)
          default
            = ""

    // Post content
    section.post-content.text-left
      .post-modern-classic-meta
        a(href= postMeta.metaHref)
          span.icon.text-middle(class= postMeta.metaIcon)
          span.text-middle.text-darker(class= postMeta.metaClass)= postMeta.metaTitle

      // Post Title
      .post-title.offset-top-8
        h4.text-bold
          a(href= postTitle.titleHref)= postTitle.title

      ul.list.list-inline.text-darker.offset-top-10
        each i, index in postList
          if postList[parseInt(index) + 0]
            li
              a(href= i.listHref class= i.listClass)= i.listTitle
          else
            li(class= i.listClass)= i.listTitle

      // Post Body
      .post-body.offset-top-20
        block

      .post-author
        .post-author-img
          img.img-circle(width=author.width, height=author.height, src=author.src, alt=author.alt)
        .post-author-name.text-middle
          = author.title